pandas==0.25.2
numpy==1.17.3
scipy==1.3.1
argparse
nltk==3.4.5
scikit-learn
joblib
Matplotlib>=1.5.1
python-docx==0.8.10
psycopg2==2.8.4
docx2txt==0.8
docx2python==1.19
#textract==1.6.3
pyth==0.6.0
gensim==3.8.1
pyemd==0.5.1
contractions==0.0.24
inflect==4.1.0
seaborn==0.10.0
wordcloud==1.6.0
jupyterlab
graphviz
pydot
xgboost